<header>
<div class="headerText">
<h1>Berlin With Me the best</h1>
</div>
<div class="headerImg1">
    <img src="https://media.giphy.com/media/PvKlwYTiKATRe/giphy.gif" alt="">
</div>
</header>

<div class="searchDiv">
<form action="/search" method="get" "form-inline">
  <input type="text" name="event" placeholder="Events" "form-control-plaintext" id="staticEmail2">
</form> <br>
</div>



<div class="eventsDiv ">
{{#each events}}
<div class="eventDiv">
    <h3>
     <a href="/events/{{this._id}}">
     {{!-- <a href="/{{this._owner.username}}/events/{{this._id}}"> --}}

{{this.name}}
    </a> <br>
    </h3>
    Date: {{this.readableDate}} <br>
<a href="{{this.link}}" target="_blank">Link</a>
<br>
{{this.location}} <br>
<p>
    Organizer :{{this._owner.username}} <br>
</p>
</div>
{{/each}}
</div>
