<header>
<div class="headerText">
<h1>Would you berlin with me?</h1>
</div>
</header>

<div class="searchDiv">
<form action="/search" method="get" "form-inline">
  <input type="text" name="event" placeholder="Search for events" class="form-control" id="staticEmail2">
</form> <br>
</div>
  
 
<div class="hoverDiv"> 
<div class="eventsDiv ">
{{#each events}}
<div class="eventDiv card border-dark mb-3">
    <h3>
     <a href="/events/{{this._id}}">
     {{!-- old version
     <a href="/{{this._owner.username}}/events/{{this._id}}"> --}}
        {{this.name}}
    </a> <br>
    </h3>
    Date: {{this.readableDate}} <br>
    {{this.location}} <br>
    {{!-- {{this.description}} <br> --}}
    <a href="{{this.link}}" class="event-link" target="_blank">Link</a>
    <p class="organizer">
        Organizer :{{this._owner.username}} <br>
    </p>
</div>
{{/each}}
</div>
</div>
