
<div class="row">
    <div class= "col-md-4 profile-container">
        <h1>
            The profile of <strong>{{user.username}}</strong>
            <small>
                <a class="btn btn-primary btn-sm" href="/profile/{{user._id}}/edit">Edit me</a>
            </small>
        </h1>
        <img src="{{user.imgPath}}" class="img-fluid" alt="">

        <h3>About me </h3> <p> {{user.info}}</p><br>

    </div>
    <div class="col-md-8 events">
            <h4>My events</h4>
            <div class="row">
            {{#each user._events}}<br>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>

        </div>
</div>

