
<h1>Edit and event</h1>

<form action="/{{event._owner.username}}/events/{{event._id}}/update" method="post">
  Name: <input type="text" name="name" value="{{event.name}}">><br>
  Street <input type="text" name="street" value="{{event.address.street}}"><br>
  City <input type="text" name="city" value="{{event.address.city}}" ><br>
  Post Code <input type="text" name="postCode"  value="{{event.address.postCode}}"><br>
  Date: <input type="text" name="date" value="{{event.date}}"><br>
  Time: <input type="text" name="time" value="{{event.time}}"><br>
  Link: <input type="text" name="link" value="{{event.link}}"><br>
  Description:  <input type="text" name="description" value="{{event.description}}"><br>
  Phone numver <input type="text" name=" phoneNumber" value="{{event.phoneNumber}}"><br>
  Number of People  <input type="text" name="nbPeople" value="{{event.nbPeople}}"><br>
  Status of the event  <input type="text" name="status" value="{{event.status}}"><br>
  <button>Update</button>
</form>
