<div class="container">
<div class="eventDiv">
  <div class="eventText">
    <h3>
    {{event.name}}
    </h3>  <br> 
    {{event.date}} <br> 
    <p> Organizer: {{event._owner.username}} <br>
     Details: {{event.description}} 
     </p>

    <p>
 Attendees:{{#each joiningList}} 
        <a href="/profile/{{this._user._id}}">
        {{this._user.username}}
        </a>
         {{/each }} <br>
        WaittingList: {{#each WaitingList}} {{this._user.username}} <br> {{/each }}
</p> 
    {{#if isJoined }} 
    <p>
   Contact details: {{event.contact}}
    </p>
    <a href="/event/{{event._id}}/leave">Leave</a>
     {{else}}
    {{#if isAvailable }}
    <a href="/event/{{event._id}}/join">Wanna Join</a>
     {{else}}
      {{#if isWaiting }}
    <a href="/event/{{event._id}}/leave">Leave WaittingList</a>
     {{else}}
    <a href="/event/{{event._id}}/joinWaittingList">Join WaittingList</a>
    {{/if}}
    {{/if}}
    {{/if}}

      {{#if isOwner }}
    <a href="/events/{{event._id}}/edit">Edit</a>
    {{!-- <a href="/{{event._owner.username}}/events/{{event._id}}/edit">Edit</a> --}}
    <a href="/event/{{event._id}}/delete">Delete</a>
    {{/if}} 
         </div>
        </div>

</div>


        {{!-- <pre>
{{event}}
</pre> --}}
